.wrapper {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-column-gap: 10px;
    justify-content: center;
    /* gap: 20%; */
}

.title {
    text-align: center;
}
.my-trades {
    display: flex;
    flex-direction: column;
    align-items: center;   

}

.sidebar {
    width: 25%;
    min-height: 100%;
}

.card-back {
    transition: transform 1s; 
}

.card-back {
	transform: rotateY(360deg)
		perspective(700px);
	transform-origin: center center;
}

.card {
    width: 20%;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
    border: 0;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 2% 0 2%;
}

.newForm {
    display: flex;
    flex-wrap: wrap;
}

.clicking {
    width: 20%;
}

.mytraded-accepted-card {
    display: flex;
    justify-content: space-evenly;

}

.tradeCard {
    text-align: center;
}

.tradeForm {
    text-align: center;
    
}

.tradeCards {
    display: flex;
    flex-wrap: wrap;
}

.trade-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.libMessage {
    margin: 5%;
    text-align: center;
}

.filters-and-search {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "filter"
        "search";
    row-gap: 10%;
    margin: 2%;
    
    
}

.filters {
    grid-area: filter;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    row-gap: 2%;
    grid-template-areas:
        "drop drop drop"
        "land land land";
    justify-content: center;
}

.drop-downs {
    grid-area: drop;
    display: flex;
    justify-content: space-around;
}

.regions {
    grid-area: land;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regions p {
    margin: 1%;
}

.filters select {
    width: 10rem;
}

.search-bar {
    grid-area: search;
    display: flex;
    justify-content: center;
}

.search-bar input{
    width: 80%;
    height: 30px;
    margin-left: 1%;
    border-radius: 5px;
}

.card-image {
    width: 90%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.form-image {
    width: 20%;
    box-shadow: 5px 5px 10px black;
}

.pending-trade {
    margin: 4% 4%;
    width: 60%;
    text-align: center;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
}

.pending-trade-cards {
    display: flex;   
}

.available-trades {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
}

.trade-card {
    width: 75%;
    display: flex;
    flex-direction: column;
    /* margin-left: 12%; */
}

.note-list {
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    margin: 4%;
    text-align: left;
}

.note-list li {
    list-style: none;
    padding: 2%;
    font-size: 20px;
}

.accepted-trades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pending-trade-available {
    margin: 1%;
    width: 30%;
    text-align: center;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
}

.loot-page {
    text-align: center;
}

.loot-card-array {
    display: flex;
    flex-wrap: wrap;
}

.loot-card-array div {
    width: 20%;
    margin-top: 2%;
}

.loot-card-array div img {
    width: 90%;
}

.another-trade-button {
    text-align: center;
}