.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.card-back {
    transition: transform 1s; 
}

.card-back {
	transform: rotateY(360deg)
		perspective(700px);
	transform-origin: center center;
}

.card {
    width: 20%;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
    border: 0;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
}

.newForm {
    display: flex;
    flex-wrap: wrap;
}

.clicking {
    width: 20%;
}

.mytraded-accepted-card {
    display: flex;
}

.tradeCard {
    text-align: center;
}

/* .card-holder div {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
} */